In [15]:
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [25]:
balance_data = pd.read_csv(
'https://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data',
                           sep= ',', header= None)

In [26]:
balance_data.head()

   0  1  2  3  4
0  B  1  1  1  1
1  R  1  1  1  2
2  R  1  1  1  3
3  R  1  1  1  4
4  R  1  1  1  5

In [27]:
balance_data.shape

(625, 5)

In [38]:
balance_data.columns

Int64Index([1, 2, 3, 4], dtype='int64')

In [29]:
balance_data.pop(0)

0      B
1      R
2      R
3      R
4      R
5      R
6      R
7      R
8      R
9      R
10     R
11     R
12     R
13     R
14     R
15     R
16     R
17     R
18     R
19     R
20     R
21     R
22     R
23     R
24     R
25     L
26     B
27     R
28     R
29     R
      ..
595    L
596    L
597    L
598    B
599    R
600    L
601    L
602    L
603    L
604    L
605    L
606    L
607    L
608    L
609    L
610    L
611    L
612    L
613    L
614    L
615    L
616    L
617    L
618    L
619    L
620    L
621    L
622    L
623    L
624    B
Name: 0, Length: 625, dtype: object

In [33]:
balance_data.columns

Int64Index([1, 2, 3, 4], dtype='int64')

In [30]:
balance_data.corr()

     1    2    3    4
1  1.0  0.0  0.0  0.0
2  0.0  1.0  0.0  0.0
3  0.0  0.0  1.0  0.0
4  0.0  0.0  0.0  1.0

In [31]:
print ("Dataset Lenght:: ", len(balance_data))
print ("Dataset Shape:: ", balance_data.shape)

Dataset Lenght::  625
Dataset Shape::  (625, 4)

In [119]:
print ("Dataset:: ")
balance_data.head(25)#0 th column dependent variable and other 3 are independent variables

Dataset::

    1  2  3  4
0   1  1  1  1
1   1  1  1  2
2   1  1  1  3
3   1  1  1  4
4   1  1  1  5
5   1  1  2  1
6   1  1  2  2
7   1  1  2  3
8   1  1  2  4
9   1  1  2  5
10  1  1  3  1
11  1  1  3  2
12  1  1  3  3
13  1  1  3  4
14  1  1  3  5
15  1  1  4  1
16  1  1  4  2
17  1  1  4  3
18  1  1  4  4
19  1  1  4  5
20  1  1  5  1
21  1  1  5  2
22  1  1  5  3
23  1  1  5  4
24  1  1  5  5

In [113]:
X = balance_data.values[:,1:5]#the no of rows selected must be greater than test datas
Y = balance_data.values[:,0]
print(X)
print(Y)

[[1 1 1]
 [1 1 2]
 [1 1 3]
 ...
 [5 5 3]
 [5 5 4]
 [5 5 5]]
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5]

In [96]:
balance_data

     1  2  3  4
0    1  1  1  1
1    1  1  1  2
2    1  1  1  3
3    1  1  1  4
4    1  1  1  5
5    1  1  2  1
6    1  1  2  2
7    1  1  2  3
8    1  1  2  4
9    1  1  2  5
10   1  1  3  1
11   1  1  3  2
12   1  1  3  3
13   1  1  3  4
14   1  1  3  5
15   1  1  4  1
16   1  1  4  2
17   1  1  4  3
18   1  1  4  4
19   1  1  4  5
20   1  1  5  1
21   1  1  5  2
22   1  1  5  3
23   1  1  5  4
24   1  1  5  5
25   1  2  1  1
26   1  2  1  2
27   1  2  1  3
28   1  2  1  4
29   1  2  1  5
..  .. .. .. ..
595  5  4  5  1
596  5  4  5  2
597  5  4  5  3
598  5  4  5  4
599  5  4  5  5
600  5  5  1  1
601  5  5  1  2
602  5  5  1  3
603  5  5  1  4
604  5  5  1  5
605  5  5  2  1
606  5  5  2  2
607  5  5  2  3
608  5  5  2  4
609  5  5  2  5
610  5  5  3  1
611  5  5  3  2
612  5  5  3  3
613  5  5  3  4
614  5  5  3  5
615  5  5  4  1
616  5  5  4  2
617  5  5  4  3
618  5  5  4  4
619  5  5  4  5
620  5  5  5  1
621  5  5  5  2
622  5  5  5  3
623  5  5  5  4
624  5  5  5  5

[625 rows x 4 columns]

In [136]:
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.3, random_state =1)

In [137]:
print(y_test)

[5 1 1 5 3 1 4 1 5 2 4 4 4 5 5 1 3 3 1 2 5 4 1 3 5 1 5 1 4 1 5 5 2 5 3 3 2
 4 1 5 2 5 5 3 3 4 5 5 2 4 1 1 1 4 5 3 3 3 2 3 5 3 2 4 4 2 1 2 5 5 4 1 5 1
 3 2 5 3 1 2 5 5 5 3 1 4 4 3 5 4 5 2 3 1 2 1 2 1 4 5 5 4 4 1 4 5 3 3 2 4 3
 5 1 3 1 2 3 5 1 4 4 4 1 2 4 2 4 5 1 5 1 3 4 3 2 5 4 5 2 4 1 2 1 3 3 1 3 5
 4 1 1 1 5 4 2 2 5 5 4 3 4 1 2 1 3 2 4 2 2 1 3 3 1 3 5 1 3 4 3 1 3 5 1 1 3
 4 4 2]

In [138]:
print(X_train)

[[1 4 5]
 [2 2 3]
 [5 1 4]
 ...
 [3 5 3]
 [5 3 1]
 [2 3 3]]

In [139]:
print(y_train)

[1 4 3 1 3 1 5 1 2 4 1 5 4 1 2 3 5 2 4 3 2 5 5 3 3 5 4 3 1 3 2 2 2 1 5 5 3
 4 1 4 1 1 4 4 5 2 3 5 5 5 2 4 5 5 5 1 5 3 3 4 3 5 4 2 4 1 5 1 4 2 3 1 2 5
 2 4 3 1 3 4 1 2 1 2 4 4 4 4 4 4 1 2 3 3 1 1 5 4 3 1 3 2 2 2 2 4 4 2 1 5 2
 5 5 2 4 3 3 5 1 3 1 5 5 1 5 2 1 5 1 1 3 1 4 2 4 4 5 1 3 5 2 5 3 1 3 5 4 2
 5 4 4 2 3 1 5 1 2 3 2 2 4 2 3 4 1 2 1 2 1 3 4 3 3 3 2 1 3 5 4 2 2 2 3 4 4
 3 2 4 2 2 4 2 2 4 3 2 4 2 2 2 2 3 5 5 4 4 4 5 2 5 1 2 4 3 5 2 1 3 5 3 1 2
 4 5 5 2 3 3 4 2 3 1 5 1 4 2 1 3 2 1 1 1 1 1 1 1 2 3 2 1 3 5 1 2 5 5 3 1 1
 5 1 4 1 3 1 4 4 5 3 3 4 4 2 4 5 3 1 4 4 5 3 5 2 2 5 3 1 2 5 4 3 3 2 4 2 1
 4 4 2 2 2 3 1 2 5 5 5 4 5 2 4 2 1 3 2 5 5 3 2 1 1 5 4 4 3 1 2 4 5 2 3 2 4
 5 3 4 2 3 5 4 2 2 4 4 2 5 1 3 1 2 5 5 5 3 1 1 3 2 5 5 4 4 3 3 3 2 3 2 3 2
 1 5 4 3 2 5 2 3 4 3 2 1 3 4 3 1 2 1 1 4 3 3 1 1 4 5 5 5 4 4 1 5 4 4 3 2 3
 5 3 5 3 1 4 2 1 4 5 2 5 5 4 4 3 4 3 3 3 2 3 4 5 5 2 2 1 2 1]

In [140]:
X_test #prints 30% of the test x data

array([[3, 1, 3],
       [1, 5, 4],
       [2, 4, 2],
       [4, 5, 4],
       [5, 5, 1],
       [3, 4, 1],
       [2, 2, 2],
       [4, 3, 4],
       [4, 5, 1],
       [2, 5, 3],
       [5, 4, 5],
       [5, 2, 2],
       [3, 2, 1],
       [5, 4, 2],
       [4, 1, 3],
       [1, 3, 4],
       [1, 3, 2],
       [3, 3, 3],
       [5, 2, 3],
       [3, 5, 1],
       [5, 5, 3],
       [1, 3, 2],
       [4, 2, 3],
       [4, 3, 1],
       [2, 1, 2],
       [3, 4, 2],
       [2, 2, 2],
       [2, 5, 3],
       [1, 5, 1],
       [5, 4, 5],
       [3, 3, 4],
       [4, 4, 3],
       [3, 5, 3],
       [5, 2, 2],
       [1, 4, 3],
       [4, 1, 4],
       [2, 2, 5],
       [5, 3, 4],
       [1, 1, 1],
       [2, 4, 5],
       [5, 5, 3],
       [3, 5, 1],
       [3, 4, 2],
       [1, 5, 4],
       [2, 4, 4],
       [1, 1, 3],
       [1, 5, 3],
       [1, 5, 2],
       [1, 5, 4],
       [2, 5, 2],
       [3, 2, 5],
       [2, 2, 5],
       [3, 4, 5],
       [3, 1, 5],
       [4, 3, 5],
       [3, 3, 5],
       [5, 3, 3],
       [1, 2, 1],
       [1, 2, 3],
       [1, 2, 5],
       [1, 3, 1],
       [3, 5, 4],
       [3, 1, 5],
       [1, 2, 1],
       [3, 3, 1],
       [2, 3, 3],
       [5, 1, 2],
       [4, 4, 4],
       [1, 4, 2],
       [1, 1, 2],
       [4, 2, 5],
       [2, 5, 5],
       [1, 2, 1],
       [5, 3, 2],
       [2, 2, 4],
       [5, 5, 1],
       [1, 5, 4],
       [5, 2, 1],
       [4, 3, 1],
       [4, 1, 2],
       [3, 5, 2],
       [3, 4, 5],
       [3, 5, 5],
       [4, 5, 1],
       [3, 3, 3],
       [1, 5, 2],
       [5, 1, 3],
       [5, 1, 5],
       [4, 4, 4],
       [4, 2, 1],
       [3, 2, 1],
       [5, 4, 3],
       [5, 3, 1],
       [1, 4, 3],
       [5, 4, 2],
       [3, 3, 1],
       [2, 4, 1],
       [4, 4, 1],
       [3, 4, 1],
       [4, 1, 5],
       [3, 4, 4],
       [5, 2, 1],
       [3, 3, 5],
       [2, 1, 5],
       [3, 3, 4],
       [5, 2, 5],
       [2, 4, 3],
       [1, 2, 3],
       [4, 5, 5],
       [5, 5, 4],
       [2, 3, 5],
       [3, 5, 3],
       [4, 4, 3],
       [3, 2, 2],
       [5, 1, 4],
       [1, 3, 1],
       [5, 1, 1],
       [1, 3, 3],
       [5, 5, 1],
       [3, 4, 5],
       [5, 2, 3],
       [5, 1, 1],
       [4, 2, 1],
       [2, 3, 1],
       [1, 4, 3],
       [5, 3, 2],
       [4, 3, 4],
       [5, 5, 1],
       [1, 1, 4],
       [2, 5, 1],
       [1, 2, 5],
       [4, 1, 5],
       [4, 1, 4],
       [1, 3, 1],
       [3, 3, 2],
       [1, 2, 2],
       [2, 1, 3],
       [5, 4, 5],
       [4, 5, 4],
       [2, 3, 5],
       [2, 4, 1],
       [4, 3, 5],
       [1, 2, 1],
       [5, 3, 2],
       [3, 1, 2],
       [2, 3, 4],
       [5, 2, 5],
       [2, 1, 4],
       [5, 5, 1],
       [3, 4, 3],
       [5, 5, 5],
       [2, 3, 5],
       [1, 1, 3],
       [3, 5, 4],
       [3, 3, 1],
       [1, 5, 3],
       [3, 2, 2],
       [5, 1, 1],
       [2, 5, 3],
       [4, 2, 5],
       [3, 2, 3],
       [2, 2, 2],
       [2, 5, 4],
       [4, 5, 1],
       [2, 3, 1],
       [4, 1, 1],
       [2, 1, 1],
       [5, 2, 4],
       [3, 3, 3],
       [3, 5, 5],
       [1, 1, 1],
       [4, 3, 5],
       [3, 3, 2],
       [4, 5, 3],
       [5, 3, 1],
       [4, 1, 2],
       [1, 5, 5],
       [4, 2, 4],
       [3, 2, 3],
       [3, 4, 4],
       [5, 4, 1],
       [3, 3, 5],
       [5, 4, 4],
       [1, 1, 5],
       [2, 4, 2],
       [4, 5, 3],
       [2, 3, 1],
       [4, 2, 3]], dtype=int64)

In [141]:
X_train.shape

(437, 3)

In [142]:
DecisionTreeClassifier

sklearn.tree.tree.DecisionTreeClassifier

In [145]:
clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 1,
                               max_depth=3, min_samples_leaf=5)
clf_gini.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1,
            splitter='best')

In [146]:
clf_entropy = DecisionTreeClassifier(criterion = "entropy", random_state = 1,
 max_depth=3, min_samples_leaf=5)
clf_entropy.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1,
            splitter='best')

In [148]:
clf_gini.predict([[ 3, 3, 1]])

array([5], dtype=int64)

In [149]:
clf_gini.predict([[1, 1, 1]])

array([1], dtype=int64)

In [150]:
y_pred = clf_gini.predict(X_test)
y_pred

array([2, 1, 2, 1, 1, 3, 2, 5, 1, 1, 3, 2, 2, 3, 2, 2, 1, 5, 2, 1, 1, 1,
       2, 5, 2, 3, 2, 1, 1, 3, 5, 3, 1, 2, 2, 2, 2, 5, 1, 2, 1, 1, 3, 1,
       2, 1, 1, 1, 1, 1, 2, 2, 3, 2, 5, 5, 5, 1, 1, 2, 1, 1, 2, 1, 5, 5,
       2, 3, 2, 1, 2, 4, 1, 5, 2, 1, 1, 2, 5, 2, 1, 3, 4, 1, 5, 1, 2, 2,
       3, 2, 2, 3, 5, 2, 3, 5, 2, 3, 3, 2, 3, 2, 5, 2, 5, 2, 2, 1, 4, 1,
       5, 1, 3, 2, 2, 1, 2, 1, 1, 3, 2, 2, 2, 5, 2, 5, 5, 1, 2, 1, 2, 2,
       2, 1, 5, 1, 2, 3, 1, 5, 2, 5, 1, 5, 2, 5, 2, 2, 1, 3, 4, 5, 1, 1,
       5, 1, 2, 2, 1, 2, 2, 2, 1, 1, 5, 2, 2, 2, 5, 4, 1, 5, 5, 1, 5, 2,
       4, 2, 2, 3, 3, 5, 3, 2, 2, 1, 5, 2], dtype=int64)

In [151]:
y_pred_en = clf_entropy.predict(X_test)
y_pred_en

array([2, 1, 2, 1, 1, 3, 2, 2, 1, 1, 3, 2, 2, 3, 2, 2, 1, 2, 2, 1, 1, 1,
       2, 2, 2, 3, 2, 1, 1, 3, 2, 3, 1, 2, 2, 2, 2, 2, 1, 2, 1, 1, 3, 1,
       2, 1, 1, 1, 1, 1, 2, 2, 3, 2, 2, 2, 2, 1, 1, 2, 1, 1, 2, 1, 2, 2,
       2, 3, 2, 1, 2, 4, 1, 2, 2, 1, 1, 2, 2, 2, 1, 3, 4, 1, 2, 1, 2, 2,
       3, 2, 2, 3, 2, 2, 3, 2, 2, 3, 3, 2, 3, 2, 2, 2, 2, 2, 2, 1, 4, 1,
       2, 1, 3, 2, 2, 1, 2, 1, 1, 3, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 2, 2,
       2, 1, 2, 1, 2, 3, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 3, 4, 2, 1, 1,
       2, 1, 2, 2, 1, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 4, 1, 2, 2, 1, 2, 2,
       4, 2, 2, 3, 3, 2, 3, 2, 2, 1, 2, 2], dtype=int64)